item--NUf {
    background-color: #121212;
    box-sizing: border-box;
    height: 83.2rem;
    padding: 18.804rem 43.022rem 21.268rem 43.474rem;
    width: 100%;
  
    .form-P8s {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
  
      .ai-detector-ud1 {
        color: #4f9e57;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.7873rem;
        font-weight: 700;
        line-height: 1.555555603;
        margin-bottom: 1.0465rem;
        white-space: nowrap;
      }
      .text-z8f {
        background-image: url('/api/try-prod-ap-southeast-1-first-cluster/projects/84Af7xzXWGzTLpL5PbnCzd/files/vector/c93c5838b1c2c74bb4857119562bb4267e707fa829c5438277fc0b318bf75bf9d6122cbf1a02fe0ba09188ecf94a7acf831716f2db2feca4b5ffc60ec001869d?hash=892e35dd0e72b930340a837199cf4a84f94ff5dcaa0964237960b7aca75ef3b6');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.7896rem;
        box-sizing: border-box;
        color: rgba(16, 23, 40, 0.25);
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.3818rem;
        font-weight: 500;
        height: 24rem;
        line-height: 2;
        margin: 0rem 0rem 1.4rem 0.004rem;
        padding: 0.9rem 1.6rem;
        white-space: nowrap;
        width: calc(100% - 0.0038rem);
      }
      .modal-actions-AST {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        height: 4.3859rem;
        margin: 0rem 0rem 1.414rem 0.004rem;
        width: calc(100% - 0.0038rem);
  
        .button-rq5 {
          border-radius: 0.7944rem;
          flex-shrink: 0;
          height: 100%;
          margin-right: 1.1915rem;
          width: 20.1542rem;
  
          .button-base-CP9 {
            align-items: center;
            background-color: #ffffff;
            border: solid 0.0993rem #dadada;
            border-radius: 0.7944rem;
            box-shadow: 0 0.0993rem 0.1986rem rgba(16, 24, 40, 0.0500000007);
            box-sizing: border-box;
            color: #000000;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.5887rem;
            font-weight: 500;
            height: 100%;
            justify-content: center;
            line-height: 1.50000006;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            width: 100%;
          }
        }
        .button-oNw {
          border-radius: 0.7944rem;
          flex-shrink: 0;
          height: 100%;
          width: 20.1542rem;
  
          .button-base-Z7D {
            align-items: center;
            background-color: #4f9e57;
            border: solid 0.0993rem #4f9e57;
            border-radius: 0.7944rem;
            box-shadow: 0 0.0993rem 0.1986rem rgba(16, 24, 40, 0.0500000007);
            box-sizing: border-box;
            color: #ffffff;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.5887rem;
            font-weight: 500;
            height: 100%;
            justify-content: center;
            line-height: 1.50000006;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
            width: 100%;
          }
        }
      }
      .input-with-label-BuH {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 0.0038rem;
        width: calc(100% - 0.0038rem);
  
        .label-8Jj {
          color: #4f9e57;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.3901rem;
          font-weight: 500;
          line-height: 1.4285713698;
          margin-bottom: 0.5958rem;
          white-space: nowrap;
        }
        .input-FPM {
          align-items: baseline;
          background-color: #ffffff;
          border: solid 0.0993rem #dadada;
          border-radius: 0.7944rem;
          box-shadow: 0 0.0993rem 0.1986rem rgba(16, 24, 40, 0.0500000007);
          box-sizing: border-box;
          color: #dab9b9;
          display: flex;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5887rem;
          font-weight: 400;
          line-height: 2.1874999775;
          overflow: hidden;
          padding: 0.993rem 0.993rem 0.993rem 0.993rem;
          position: relative;
          white-space: nowrap;
          width: 100%;
  
          .input-FPM-sub-0 {
            color: #e20f0f;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.5887rem;
            font-weight: 600;
            line-height: 2.1874999775;
          }
          .input-FPM-sub-1 {
          }
        }
      }
    }
  }
  